{% extends "layout.html" %}
{% block heading %}Appointment{% endblock heading %}
{% block content %}
<section id="appointment">
    <div class="container-xxl">
        <h1>Appointments</h1>
        <h6>We will contact you soon to confirm with your requested appointment.</h6>
        <form method="POST">
            <div class="row form-group p-3">
                <label for="date" class="col-sm-1 col-form-label">Date</label>
                <div class="col-sm-4">
                    <div class="input-group date" id="datepicker">
                        <input type="text" class="form-control" name="date" id="date">
                        <span class="input-group-append">
                            <span class="input-group-text bg-white d-block">
                                <!-- <i class="fa fa-calendar"></i> -->
                                <img src="https://img.icons8.com/ios-filled/24/000000/calendar--v1.png" style="background-color:white"/>
                            </span>
                        </span>
                    </div>
                </div>
            </div>

            <div class="row form-group p-3">
                <label for="comment" class="col-sm-1 col-form-label">Comments</label>
                <div class="col-sm-4">
                    <textarea class="form-control" id="comment" name="comment" cols="30" rows="15"></textarea>
                </div>
            </div>

            <div class="d-grid gap-2 d-md-flex justify-content-md-start p-3">
                <button type="submit" class="btn btn-primary">Submit</button>
                <!-- <a class="w-100 btn btn-lg btn-primary" href="/home" role="button">Submit</a> -->
            </div>
        </form>
        <div class="row form-group p-3">
            <ul class="list-group list-group-flush col-sm-6" id="notes">
                {% for appointment in user.appointments %}
                <li style="background-color:aliceblue" class="list-group-item">
                <h4>{{ appointment.date }}</h4>
                <p>{{ appointment.comment }}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
{% endblock %}