{% extends "layout.html" %} {% block heading %}Causes of FGR{% endblock heading
%} {% block content %}

<section id="contents">
  <div class="container-xxl">
    <div class="row g-4">
      <h1>Causes of Fetal Growth Restriction</h1>
      <article>
        <p>
          FGR has many possible causes. A common cause is a problem with the
          placenta. The placenta is the tissue that joins the mother and fetus,
          carrying oxygen and nutrients to the baby and permitting the release
          of waste products from the baby.
        </p>
        <p>
          The condition can also occur as the result of certain health problems
          in the mother, such as:
        </p>
        <ul type="disc">
          <li>Advanced diabetes</li>
          <li>High blood pressure or heart disease</li>
          <li>
            Infections such as rubella, cytomegalovirus, toxoplasmosis, and
            syphilis
          </li>
          <li>Kidney disease or lung disease</li>
          <li>Malnutrition or anemia</li>
          <li>Sickle cell anemia</li>
          <li>Autoimmune disease</li>
          <li>Smoking, drinking alcohol, or abusing drugs</li>
        </ul>
        <p>
          Other possible fetal causes include chromosomal defects in the baby or
          multiple gestation (twins, triplets, or more), or living at an
          altitude above 5,000 feet.
        </p>
      </article>
    </div>
  </div>
</section>

{% endblock content %}
