{% extends "layout.html" %} {% block heading %}FGR Symptoms{% endblock heading
%} {% block content %}

<section id="contents">
  <div class="container-xxl">
    <div class="row g-4">
      <h1>FGR Symptoms</h1>
      <article>
        <p>
          The main symptom of FGR is a baby that is small for his or her
          gestational age. Specifically, the baby's estimated weight is below
          the 10th percentile -- or less than that of 90% of babies of the same
          gestational age.
        </p>
        <p>
          Depending on the cause of FGR, the baby may be small all over or look
          malnourished. They may be thin and pale and have loose, dry skin. The
          umbilical cord is often thin and dull instead of thick and shiny.
        </p>
        <p>Not all babies that are born small have FGR, though.</p>
      </article>
    </div>
  </div>
</section>

{% endblock content %}
