{% extends "layout.html" %} {% block heading %}FGR{% endblock heading %} {%
block content %}

<section id="contents">
  <div class="container-xxl">
    <div class="row g-4">
      <h1>Fetal Growth Restriction (FGR)</h1>
      <article>
        <p>
          Fetal growth restriction (FGR), formerly called intrauterine growth
          restriction (IUGR), refers to a condition in which an unborn baby is
          smaller than it should be because it is not growing at a normal rate
          inside the womb.
        </p>
        <p>
          Mild FGR usually doesn't cause long-term problems. In fact, most
          babies who have it catch up in height and weight by age 2. But severe
          FGR can seriously harm a baby before and after birth. The extent of
          the problems depends on the cause and how severe the growth
          restriction is. It also depends on what point in the pregnancy it
          starts.
        </p>
        <p>FGR may cause:</p>
        <ul>
          <li>Premature birth and low birth weight</li>
          <li>Trouble handling the stresses of vaginal delivery</li>
          <li>Decreased oxygen levels</li>
          <li>Hypoglycemia (low blood sugar)</li>
          <li>Low resistance to infection</li>
          <li>
            Low Apgar scores (a test given just after birth to check the
            newborn's physical condition and whether it needs special medical
            care)
          </li>
          <li>
            Meconium aspiration (when the baby inhales its own stools passed
            while in the uterus), which can lead to breathing problems
          </li>
          <li>Trouble controlling body temperature</li>
          <li>Unusually high red blood cell count</li>
        </ul>
        <p>
          In the most severe cases, FGR can lead to stillbirth. It can also
          cause long-term growth problems.
        </p>
        <p>
          You can't always prevent FGR. But a healthy lifestyle will go a long
          way toward lowering your risks.
        </p>
      </article>
    </div>
  </div>
</section>

{% endblock content %}
