{% extends "layout.html" %} {% block heading %}FGR and Twin Risks{% endblock
heading %} {% block content %}

<section id="contents">
  <div class="container-xxl">
    <div class="row g-4">
      <h1>FGR and Twin Risks</h1>
      <article>
        <p>
          Twins are usually smaller than usual. But FGR also affects up to 25%
          of twin pregnancies.
        </p>
        <ul>
          <li>
            Have an uneven share of blood and nutrients between them. As a
            result, one twin may be much smaller. This is called selective
            intrauterine growth restriction.
          </li>
          <li>
            Share blood vessels. They may develop a serious condition called
            twin-twin transfusion syndrome (TTTS). When this happens, there is
            an unequal exchange of blood between the twins, putting them both at
            risk.
          </li>
          <li>
            Share an amniotic sac. Then the umbilical cords may become tangled,
            cutting off blood flow to one or both twins.
          </li>
        </ul>
      </article>
    </div>
  </div>
</section>

{% endblock content %}
