{% extends "layout.html" %} {% block heading %}FGR Diagnosis{% endblock heading
%} {% block content %}

<section id="contents">
  <div class="container-xxl">
    <div class="row g-4">
      <h1>FGR Diagnosis</h1>
      <article>
        <p>
          Doctors have many ways to estimate the size of babies during
          pregnancy. One of the simplest and most common is measuring the
          distance from the mother's fundus (the top of the uterus) to the pubic
          bone. After the 20th week of pregnancy, the measure in centimeters
          usually corresponds with the number of weeks of pregnancy. A lower
          than expected measurement may mean that the baby is not growing as it
          should. Your doctor may suspect FGR if your baby is less than the 10th
          percentile for their gestational age.
        </p>
        <p>
          Other procedures to diagnose FGR and assess the baby's health include:
        </p>
        <p>
          <b>Ultrasound</b>. The main test for checking a baby's growth in the
          uterus, ultrasound involves using sound waves to create pictures of
          the baby. The ultrasound exam lets the doctor see the baby in the
          uterus with an instrument that is moved over the mother's abdomen.
        </p>
        <p>
          Ultrasound can be used to measure the baby's head and abdomen. The
          doctor can compare those measurements to growth charts to estimate the
          baby's weight. Ultrasound can also be used to determine how much
          amniotic fluid is in the uterus. A low amount of amniotic fluid could
          suggest FGR.
        </p>
        <p>You may have several ultrasounds to check:</p>
        <ul>
          <li>Your baby's growth and movement</li>
          <li>Placental blood flow</li>
          <li>If carrying twins, whether they share a placenta</li>
        </ul>
        <p>
          <b>Doppler flow</b>. Doppler flow is a technique that uses sound waves
          to measure the amount and speed of blood flow through the blood
          vessels. Doctors may use this test to check the flow of blood in the
          umbilical cord and vessels in the baby's brain.
        </p>
        <p>
          <b>Weight checks</b>. Doctors routinely check and record the mother's
          weight at every prenatal checkup. If a mother is not gaining weight,
          it could indicate a growth problem in their baby.
        </p>
        <p>
          <b>Fetal monitoring</b>. This test involves placing sensitive
          electrodes on the mother's abdomen. The electrodes are held in place
          by a lightweight stretchable band and attached to a monitor. The
          sensors measure the rate and pattern of the baby's heartbeat and
          display them on a monitor or print them.
        </p>
        <p>
          <b>Amniocentesis</b>. In this procedure, a needle is placed through
          the skin of the mother's abdomen and into their uterus to withdraw a
          small amount of amniotic fluid for testing. Tests may detect infection
          or some chromosomal abnormalities that could lead to FGR.
        </p>
        <p>
          If your doctor decides that your baby has stopped growing or is at
          risk, you will need to deliver early. Your baby will need to stay in
          the hospital until they can breathe and feed normally and can regulate
          their body temperature.
        </p>
      </article>
    </div>
  </div>
</section>

{% endblock content %}
