{% extends "layout.html" %} {% block heading %}Info{% endblock heading %} {%
block content %}
<section id="contents">
  <div class="container-xxl">
    <!-- <h1>This is info.</h1> -->
    <div
      class="p-4 p-md-5 mb-4 text-white rounded"
      style="background-color: rgb(40, 94, 194)"
    >
      <div class="col-md-6 px-0" style="background-color: rgb(40, 94, 194)">
        <h1
          class="display-4 fst-italic"
          style="background-color: rgb(40, 94, 194)"
        >
          Fetal Growth Restriction
        </h1>
        <p class="lead my-3" style="background-color: rgb(40, 94, 194)">
          Fetal growth restriction (FGR), formerly called intrauterine growth
          restriction (IUGR), refers to a condition in which an unborn baby is
          smaller than it should be because it is not growing at a normal rate
          inside the womb.
        </p>
        <p class="lead mb-0" style="background-color: rgb(40, 94, 194)">
          <a
            href="/intro-fgr"
            class="text-white fw-bold"
            style="background-color: rgb(40, 94, 194)"
            >Continue reading...</a
          >
        </p>
      </div>
    </div>
    <div class="row g-4">
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card text-center">
          <div class="card-body bg-white">
            <h3 class="card-title bg-white">Causes of FGR</h3>
            <p class="card-text bg-white">
              FGR has many possible causes. A common cause is a problem with the
              placenta.
            </p>
            <a href="/causes-fgr" class="btn btn-primary">Read Now</a>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4">
        <div class="card text-center">
          <div class="card-body bg-white">
            <h3 class="card-title bg-white">FGR and Twin Risks</h3>
            <p class="card-text bg-white">
              Twins are usually smaller than usual. But FGR also affects up to
              25% of twin pregnancies.
            </p>
            <a href="/twinsrisk-fgr" class="btn btn-primary">Read Now</a>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4">
        <div class="card text-center">
          <div class="card-body bg-white">
            <h3 class="card-title bg-white">FGR Symptoms</h3>
            <p class="card-text bg-white">
              The main symptom of FGR is a baby that is small for his or her
              gestational age.
            </p>
            <a href="/symptoms-fgr" class="btn btn-primary">Read Now</a>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4">
        <div class="card text-center">
          <div class="card-body bg-white">
            <h3 class="card-title bg-white">FGR Diagnosis</h3>
            <p class="card-text bg-white">
              Doctors have many ways to estimate the size of babies during
              pregnancy.
            </p>
            <a href="/diagnosis-fgr" class="btn btn-primary">Read Now</a>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4">
        <div class="card text-center">
          <div class="card-body bg-white">
            <h3 class="card-title bg-white">FGR Preventions</h3>
            <p class="card-text bg-white">
              There are things mothers can do to reduce the risk of FGR.
            </p>
            <a href="/preventions-fgr" class="btn btn-primary">Read Now</a>
          </div>
        </div>
      </div>

      <!-- <div class="col-12 col-md-6 col-lg-4">
        <div class="card text-center">
          <div class="card-body bg-white">
            <h3 class="card-title bg-white">Lorem ipsum</h3>
            <p class="card-text bg-white">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Reprehenderit facilis, architecto sed blanditiis quo laborum cum
              saepe tempore repudiandae possimus nostrum? Architecto inventore
              error voluptates iure recusandae harum nulla officiis!
            </p>
            <a href="#" class="btn btn-primary">Read Now</a>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</section>
{% endblock %}
