{% extends "layout.html" %}
{% block heading %}Info{% endblock heading %}
{% block content %}
<section id="contents">
    <div class="container-xxl">
        <!-- <h1>This is info.</h1> -->
        <div class="p-4 p-md-5 mb-4 text-white rounded" style="background-color: rgb(40, 94, 194);">
            <div class="col-md-6 px-0" style="background-color: rgb(40, 94, 194);">
                <h1 class="display-4 fst-italic" style="background-color: rgb(40, 94, 194);">Title of a longer featured
                    blog post</h1>
                <p class="lead my-3" style="background-color: rgb(40, 94, 194);">Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Sequi, ipsum omnis natus perferendis distinctio exercitationem, animi veniam
                    temporibus explicabo quisquam totam quod quae, provident facere. Obcaecati nobis minima accusantium
                    odio.</p>
                <p class="lead mb-0" style="background-color: rgb(40, 94, 194);"><a href="#" class="text-white fw-bold"
                        style="background-color: rgb(40, 94, 194);">Continue reading...</a></p>
            </div>
        </div>
        <div class="row g-4">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card text-center">
                    <div class="card-body bg-white">
                        <h3 class="card-title bg-white">Lorem ipsum</h3>
                        <p class="card-text bg-white">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                            Reprehenderit
                            facilis, architecto sed blanditiis quo laborum cum saepe tempore repudiandae possimus
                            nostrum? Architecto inventore error voluptates iure recusandae harum nulla officiis!</p>
                        <a href="#" class="btn btn-primary">Read Now</a>
                    </div>
                </div>
            </div>


            <div class="col-12 col-md-6 col-lg-4">
                <div class="card text-center">
                    <div class="card-body bg-white">
                        <h3 class="card-title bg-white">Lorem ipsum</h3>
                        <p class="card-text bg-white">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                            Reprehenderit
                            facilis, architecto sed blanditiis quo laborum cum saepe tempore repudiandae possimus
                            nostrum? Architecto inventore error voluptates iure recusandae harum nulla officiis!</p>
                        <a href="#" class="btn btn-primary">Read Now</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="card text-center">
                    <div class="card-body bg-white">
                        <h3 class="card-title bg-white">Lorem ipsum</h3>
                        <p class="card-text bg-white">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                            Reprehenderit
                            facilis, architecto sed blanditiis quo laborum cum saepe tempore repudiandae possimus
                            nostrum? Architecto inventore error voluptates iure recusandae harum nulla officiis!</p>
                        <a href="#" class="btn btn-primary">Read Now</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="card text-center">
                    <div class="card-body bg-white">
                        <h3 class="card-title bg-white">Lorem ipsum</h3>
                        <p class="card-text bg-white">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                            Reprehenderit
                            facilis, architecto sed blanditiis quo laborum cum saepe tempore repudiandae possimus
                            nostrum? Architecto inventore error voluptates iure recusandae harum nulla officiis!</p>
                        <a href="#" class="btn btn-primary">Read Now</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="card text-center">
                    <div class="card-body bg-white">
                        <h3 class="card-title bg-white">Lorem ipsum</h3>
                        <p class="card-text bg-white">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                            Reprehenderit
                            facilis, architecto sed blanditiis quo laborum cum saepe tempore repudiandae possimus
                            nostrum? Architecto inventore error voluptates iure recusandae harum nulla officiis!</p>
                        <a href="#" class="btn btn-primary">Read Now</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="card text-center">
                    <div class="card-body bg-white">
                        <h3 class="card-title bg-white">Lorem ipsum</h3>
                        <p class="card-text bg-white">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                            Reprehenderit
                            facilis, architecto sed blanditiis quo laborum cum saepe tempore repudiandae possimus
                            nostrum? Architecto inventore error voluptates iure recusandae harum nulla officiis!</p>
                        <a href="#" class="btn btn-primary">Read Now</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="card text-center">
                    <div class="card-body bg-white">
                        <h3 class="card-title bg-white">Lorem ipsum</h3>
                        <p class="card-text bg-white">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                            Reprehenderit
                            facilis, architecto sed blanditiis quo laborum cum saepe tempore repudiandae possimus
                            nostrum? Architecto inventore error voluptates iure recusandae harum nulla officiis!</p>
                        <a href="#" class="btn btn-primary">Read Now</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="card text-center">
                    <div class="card-body bg-white">
                        <h3 class="card-title bg-white">Lorem ipsum</h3>
                        <p class="card-text bg-white">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                            Reprehenderit
                            facilis, architecto sed blanditiis quo laborum cum saepe tempore repudiandae possimus
                            nostrum? Architecto inventore error voluptates iure recusandae harum nulla officiis!</p>
                        <a href="#" class="btn btn-primary">Read Now</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="card text-center">
                    <div class="card-body bg-white">
                        <h3 class="card-title bg-white">Lorem ipsum</h3>
                        <p class="card-text bg-white">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                            Reprehenderit
                            facilis, architecto sed blanditiis quo laborum cum saepe tempore repudiandae possimus
                            nostrum? Architecto inventore error voluptates iure recusandae harum nulla officiis!</p>
                        <a href="#" class="btn btn-primary">Read Now</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="card text-center">
                    <div class="card-body bg-white">
                        <h3 class="card-title bg-white">Lorem ipsum</h3>
                        <p class="card-text bg-white">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                            Reprehenderit
                            facilis, architecto sed blanditiis quo laborum cum saepe tempore repudiandae possimus
                            nostrum? Architecto inventore error voluptates iure recusandae harum nulla officiis!</p>
                        <a href="#" class="btn btn-primary">Read Now</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock %}