<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" type="text/css" href="./{{ url_for('static', filename='styles/style.css') }}">
    <link rel="icon" type="image/icon type" href="./{{ url_for('static', filename='images/peguin.svg') }}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="./{{ url_for('static', filename='scripts/script.js')}}"></script>
    <title>{% block heading %}{% endblock %} - Peguin Healthcare</title>
</head>

<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-md navbar-light">
        <div class="container-xxl">
            <a href="/home" class="navbar-brand">
                <span class="fw-bold text-secondary h3">Penguin Healthcare</span>
            </a>

            <!-- toggle button for mobile nav -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav"
                aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- navbar link -->
            <div class="collapse navbar-collapse justify-content-end align-center" id="main-nav">
                <ul class="navbar-nav fw-bold">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/info">Info</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/diagnose">Diagnose</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/appointment">Appointment</a>
                    </li>
                    <li class="nav-item d-md-none">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                    <li class="nav-item ms-2 d-none d-md-inline" , id="btnLogout">
                        <a class="btn btn-secondary" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% block content %}{% endblock %}
    <footer class="blog-footer">
        <p class="mt-5 mb-3 text-muted">Penguin Healthcare &copy; 2017–2021</p>
        <p>
            <a href="#">Back to top</a>
        </p>
    </footer>

</body>

</html>